html, body{
  margin-bottom:60px ;
}

.container{
  display: flex;
  flex-direction: column;
}

.Nav-ul li{
  display: inline-block;
  padding: 10px;
}

.Nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}

.Nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: skyblue;
}

.footer{
  position:fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: skyblue;
}

#footer{
  margin-bottom: 0;
}

.nav-right{
  text-align: right;
}

.logo{
  float: left;
  width: 90px;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 30px;
}

.invalid-input{
  color: red;
  font-size: 18px;
}

.table{
  text-align: center;
}
